<div class="container p-4 mt-2 table-responsive border border-1">
    <h3 class="text-center">Proyectos</h3>
    <hr>
    <!-- Boton para desplegar modal de creacion de proyectos -->
    <div style="text-align: right">
        <form action="">
            <button type="button" class="btn btn-primary text-center m-3" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop">

                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                    class="bi bi-journal-plus" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5" />
                    <path
                        d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2" />
                    <path
                        d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z" />
                </svg>
            </button>
        </form>
    </div>
    <div class="container-fluid">
        <div class="row">
            <table class="table table-light bg-opacity-25 table-striped tabla-hover table-bordered "id="tabla" style="background-color: #6ed5fd; font-size: 0.9em;">
                <thead >
                    <tr>
                        
                        <th>Id</th>
                        <th>Jefe Proyecto</th>
                        <th>Tipo </th>
                        <th>Nombre </th>
                        <th>Fecha Creacion</th>
                        <th>Descripcion </th>
                        <th>Acciones </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Manuel Ojeda</td>
                        <td>Comunitario</td>
                        <td>Plaza Villa Francia</td>
                        <td>12-12-12</td>
                        <td>fsdfsadfasdfa</td>
                        <td>fsdfsadfasdfa</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Manuel Ojeda</td>
                        <td>Comunitario</td>
                        <td>Plaza Villa Francia</td>
                        <td>12-12-12</td>
                        <td>fsdfsadfasdfa</td>
                        <td>fsdfsadfasdfa</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Manuel Ojeda</td>
                        <td>Comunitario</td>
                        <td>Plaza Villa Francia</td>
                        <td>12-12-12</td>
                        <td>fsdfsadfasdfa</td>
                        <td>fsdfsadfasdfa</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Manuel Ojeda</td>
                        <td>Comunitario</td>
                        <td>Plaza Villa Francia</td>
                        <td>12-12-12</td>
                        <td>fsdfsadfasdfa</td>
                        <td>fsdfsadfasdfa</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Andres Ojeda</td>
                        <td>Comunitario</td>
                        <td>Plaza Villa Francia</td>
                        <td>12-12-12</td>
                        <td>fsdfsadfasdfa</td>
                        <td>fsdfsadfasdfa</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Sebastian Ojeda</td>
                        <td>Comunitario</td>
                        <td>Plaza Villa Francia</td>
                        <td>12-12-12</td>
                        <td>fsdfsadfasdfa</td>
                        <td>fsdfsadfasdfa</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Fernando Ojeda</td>
                        <td>Comunitario</td>
                        <td>Plaza Villa Francia</td>
                        <td>12-12-12</td>
                        <td>fsdfsadfasdfa</td>
                        <td>fsdfsadfasdfa</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Matias Ojeda</td>
                        <td>Comunitario</td>
                        <td>Plaza Villa Francia</td>
                        <td>12-12-12</td>
                        <td>fsdfsadfasdfa</td>
                        <td>fsdfsadfasdfa</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Yenifer Ojeda</td>
                        <td>Comunitario</td>
                        <td>Plaza Villa Francia</td>
                        <td>12-12-12</td>
                        <td>fsdfsadfasdfa</td>
                        <td>fsdfsadfasdfa</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Marlen Ojeda</td>
                        <td>Comunitario</td>
                        <td>Plaza Villa Francia</td>
                        <td>12-12-12</td>
                        <td>fsdfsadfasdfa</td>
                        <td>fsdfsadfasdfa</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>jose Ojeda</td>
                        <td>Comunitario</td>
                        <td>Plaza Villa Francia</td>
                        <td>12-12-12</td>
                        <td>fsdfsadfasdfa</td>
                        <td>fsdfsadfasdfa</td>
                    </tr>
        
                </tbody>
            </table>
        </div>
    </div>
    
   
 
  
</div>


<!-- Modal que despliega formulario de creacion de proyectos -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Agregar Proyecto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <form action="/proyecto.js" class="RegistroProyecto" autocomplete="off" method="post">
                        <div class="form-row">  
                            <div class="form-gorup col-md-4">
                                <label for="">Codigo Proyecto</label>
                                <input type="text" placeholder="" class="form-control txttipoProyecto"
                                name="id_tipoproyecto"  id="id_tipoproyecto">
                            </div>
                            <div class="form-group col-md-8 ">
                                <label for="">Codig Jefe Proyecto:</label>
                                <input type="text" placeholder="" class="form-control txt_jefeProyecto"
                                    name="id_jefeproyecto" id="id_jefeproyecto" required>
                            </div>
                            <div class="form-group col-md-4 mt-2">
                                <label for="">Tipo Proyecto</label>                                
                                <select name="tipo_idea" class="form-control" id="tipo_idea">
                                    <option value="">Seleccione tipo</option>
                                    <option value="hab001">Pladeco</option>
                                    <option value="des001">Comunal</option>
                                </select>
                            </div>
                            <div class="form-group col-md-8 mt-2 ">
                                <label for="">Nombre Proyecto:</label>
                                <input type="text" placeholder="" class="form-control txt_NombreProyecto"
                                    name="nombre_proyecto" id="nombre_proyecto" required>
                            </div>
                            <div class="form-group col-md-4 mt-2 ">
                                <label for="">Fecha Creacion:</label>
                                <input type="date" class="form-control" name="fecha_creacion" id="fecha_creacion" required>
                            </div>
                            <div class="form-group col-md-12 mt-2 ">
                                <label for="">Descripcion</label>
                                <input type="text" placeholder="" class="form-control txt_DescripcionProyecto"
                                    name="descripcion" id="descripcion" required>
                            </div>
                        </div>
                        <div class="modal-footer md-2">
                            <button type="submit" class="form-control btn btn-primary btn-sm " style=" width: 80px;">Guardar</button>
                            <button type="submit" class="form-control btn btn-secondary btn-sm"style="width: 80px;" data-bs-dismiss="modal">Cerrar</button>                
                        </div>
                    </form>
                </div>
            </div>
           
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css" />
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>

<script>
    $(document).ready(function() {
    $('#tabla').DataTable({
    "columnDefs": [{
    "targets": 0
    }],
    "order"     : ([0, 'desc']),
    language: {
    "sProcessing": "Procesando...",
    "sLengthMenu": "Mostrar MENU resultados",
    "sZeroRecords": "No se encontraron resultados",
    "sEmptyTable": "Ningún dato disponible en esta tabla",
    "sInfo": "Mostrando resultados START-END de  TOTAL",
    "sInfoEmpty": "Mostrando resultados del 0 al 0 de un total de 0 registros",
    "sInfoFiltered": "(filtrado de un total de MAX registros)",
    "sSearch": "Buscar:",
    "sLoadingRecords": "Cargando...",
    "oPaginate": {
        "sFirst": "Primero",
        "sLast": "Último",
        "sNext": "Siguiente",
        "sPrevious": "Anterior"
    },
    }
    });
    });
</script>